@model IEnumerable<LoanApplication.Views.Home.ViewModels.CustomerApplicationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Application list</h3>

<p>
    <a asp-controller="PersonalLoan" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repayment)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="PersonalLoan" asp-route-id="@item.Id">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
